.container{
  display: flex;
  flex-direction: column;
}
.contBott{
  display: flex;
  justify-content: flex-end;

}
.listCheck{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
