.card-footer{
  height: 100%;
  background-color: #fff;
  border-top: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  justify-content: flex-end;
  gap:10px;
}

.globa-container{
  padding-top: 5%
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
  margin: 0;
  list-style: none;
  padding-bottom: 250px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.card{
  margin-bottom:30px;
  margin-left: 4px;
}

.tecnologias {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.tecnologias i {
  font-size: 24px;
  text-align: center;
}

.tecnologias i h1{
  font-size: 12px;
  text-align: center;
}
.botonesOpcion{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.botonesOpcion button{
  margin: 5px;
}
.botonesOpcion a i{
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.icon-green {
  color: rgb(110, 207, 110);
}
.icon-red {
  color: red;
}
.icon-purple {
  color: purple;
}
.icon-teal {
  color: rgb(14, 138, 209);
}
.icon-yellow {
  color: rgb(243, 219, 7);
}
.icon-black {
  color: black;
}
.icon-blue {
  color: rgb(29, 96, 172);
}

